.navbar {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-brand {
  font-size: 35px;
  margin: 0;
}

.fa-cart-plus {
  font-size: 40px;
  margin-right: 20px;
}
.badge {
  font-size: 28px;
  background-color: var(--primary-color);
}
